#white
{
    width: 50%;
    height: 100%;
    background-color: rgba(224, 224, 224, 0.959);
    float: left;
    text-align: center;
}

#clear
{
    width: 50%;
    height: 100%;
    float: right;
}

h1
{
    font-family: 'Abel', sans-serif;
    font-size: 70px;
}

#note
{
    font-family: 'Abel' , sans-serif;
    font-size: 20px;
}

#line
{
    width: 500px;
    height: 5px;
    background-color: black;
    margin-left: 15%;
}

img
{
    width: 400px;
}